/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-text: "Open Sans", sans-serif;
  --title-text: "Raleway", sans-serif;
  --accent-color: #ff6c00;
  --main-color: #ffffff;
  --secondary-color: #303030;
  --tertiary-color: #555555;
  --quaternary-color: #9da4bd;
  --quaternary-color-alfa60: rgba(157, 164, 189, 0.6);
  --quaternary-color-alfa12: rgba(157, 164, 189, 0.12);
  --background-color: #f7f7f7;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio, .team, .advantages, .prices, .about {
  padding: 84px 0;
}
@media screen and (max-width: 480px) {
  .portfolio, .team, .advantages, .prices, .about {
    padding-top: calc(60px + 24 * (100vw - 320px) / 160);
    padding-bottom: calc(60px + 24 * (100vw - 320px) / 160);
  }
}
@media screen and (min-width: 732px) {
  .portfolio, .team, .advantages, .prices, .about {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio, .team, .advantages, .prices, .about {
    padding: 130px 0;
  }
}

body {
  font-family: var(--main-text);
  font-size: 1.125rem;
  line-height: 1.667;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 6.25vw;
}
@media screen and (min-width: 480px) {
  .container {
    padding: 0 31px;
  }
}
@media screen and (min-width: 732px) {
  .container {
    max-width: 768px;
    padding: 0 39px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 319px) {
  .container {
    background-color: aqua;
  }
}

.logo {
  display: block;
  width: 70px;
  height: 56px;
}
@media screen and (min-width: 732px) and (max-width: 1023px) {
  .logo {
    margin-left: 10px;
  }
}

.logo__icon {
  width: 70px;
  height: 56px;
  fill: var(--main-color);
}
@media screen and (min-width: 732px) {
  .logo__icon {
    fill: var(--secondary-color);
  }
}

.header {
  position: absolute;
  padding-top: 40px;
  width: 100%;
}
@media screen and (min-width: 732px) {
  .header {
    padding-top: 32px;
  }
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 731px) {
  .header__nav {
    display: none;
  }
}

.nav {
  margin-left: 54px;
}
@media screen and (min-width: 1024px) {
  .nav {
    margin-left: 71px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: calc(16px + 8 * (100vw - 732px) / 36);
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .nav__item:not(:last-child) {
    margin-right: 40px;
  }
}

.nav__link {
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 600;
  letter-spacing: 0.1em;
  -webkit-transition: color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.header__wrap {
  position: relative;
  margin-left: auto;
}
@media screen and (min-width: 1024px) {
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.header__main-button {
  display: block;
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-color);
  -webkit-transition: color 250ms var(--timing-fn), background-color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn), background-color 250ms var(--timing-fn);
}
@media screen and (max-width: 731px) {
  .header__main-button {
    display: none;
  }
}
.header__main-button:hover, .header__main-button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.header__tel-link {
  display: block;
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 600;
  letter-spacing: 0.1em;
  -webkit-transition: color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn);
}
@media screen and (max-width: 731px) {
  .header__tel-link {
    display: none;
  }
}
.header__tel-link:hover, .header__tel-link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 732px) and (max-width: 1023px) {
  .header__tel-link {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 10.333em;
  }
}
@media screen and (min-width: 1024px) {
  .header__tel-link {
    margin-right: 40px;
  }
}

.header__mobmenu-button {
  width: 40px;
  height: 40px;
}

.mobmenu__open {
  margin-left: auto;
}
@media screen and (min-width: 732px) {
  .mobmenu__open {
    display: none;
  }
}

.mobmenu__icon {
  width: 40px;
  height: 40px;
  fill: var(--main-color);
}

.hero__background {
  margin: 0 auto;
}
@media screen and (min-width: 732px) {
  .hero__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__background {
    max-width: 1200px;
  }
}

.hero__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 90px;
  height: 680px;
  margin-right: 30px;
  margin-left: 39px;
  padding-left: 26px;
  padding-bottom: 40px;
}
@media screen and (max-width: 731px) {
  .hero__sidebar {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .hero__sidebar {
    width: 70px;
    margin-left: 15px;
    padding-left: 15px;
  }
}

.hero__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.hero__links::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .hero__links::before {
    width: calc(40px + 20 * (100vw - 320px) / 160);
    margin-right: calc(10px + 10 * (100vw - 320px) / 160);
  }
}

.hero__links-item {
  height: 100%;
}
.hero__links-item:nth-child(1) {
  margin-right: 40px;
}

.hero__link {
  padding: 10px 0;
  font-size: 11px;
  line-height: 1.364;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: var(--secondary-color);
  -webkit-transition: color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn);
}
.hero__link:hover, .hero__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 731px) {
  .hero__main {
    min-width: 320px;
    max-width: 480px;
    height: 580px;
    margin: 0 auto;
    padding-top: 208px;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
    background-image: url("../img/hero/mob/3/hero3-m.jpg");
    background-image: -webkit-image-set(url("../img/hero/mob/3/hero3-m.webp") 1x, url("../img/hero/mob/3/hero3-m@2x.webp") 2x);
    background-image: image-set(url("../img/hero/mob/3/hero3-m.webp") 1x, url("../img/hero/mob/3/hero3-m@2x.webp") 2x);
    background-position: right, bottom;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 731px) and (min-width: 480px) {
  .hero__main {
    padding-left: 31px;
    padding-right: 31px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../img/hero/mob/3/hero3-m.webp");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../img/hero/mob/3/hero3-m.webp");
    background-position: center;
    background-size: 480px;
  }
}
@media screen and (max-width: 731px) and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 731px) and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 731px) and (min-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 731px) and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero__main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../img/hero/mob/3/hero3-m@2x.webp");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../img/hero/mob/3/hero3-m@2x.webp");
  }
}
@media screen and (min-width: 732px) {
  .hero__main {
    padding-top: 272px;
    padding-left: 120px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 609px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../img/hero/tab/3/hero3-t.webp");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../img/hero/tab/3/hero3-t.webp");
  }
}
@media screen and (min-width: 732px) and (min-device-pixel-ratio: 2), screen and (min-width: 732px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 732px) and (min-resolution: 192dpi), screen and (min-width: 732px) and (min-resolution: 2dppx) {
  .hero__main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../img/hero/tab/3/hero3-t@2x.webp");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../img/hero/tab/3/hero3-t@2x.webp");
  }
}
@media screen and (min-width: 1024px) {
  .hero__main {
    background-size: 1085px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../img/hero/desk/3/hero3-d.webp");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../img/hero/desk/3/hero3-d.webp");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero__main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../img/hero/desk/3/hero3-d@2x.webp");
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../img/hero/desk/3/hero3-d@2x.webp");
  }
}

.hero__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-text);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.364;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--quaternary-color-alfa60);
}
@media screen and (max-width: 480px) {
  .hero__desc {
    font-size: calc(9px + 2 * (100vw - 320px) / 160);
    letter-spacing: calc(0.45px + 0.65 * (100vw - 320px) / 160);
  }
}
.hero__desc::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--quaternary-color-alfa60);
}
@media screen and (max-width: 480px) {
  .hero__desc::before {
    width: calc(40px + 20 * (100vw - 320px) / 160);
    margin-right: calc(10px + 10 * (100vw - 320px) / 160);
  }
}

.hero__title {
  margin: 20px 0;
  font-family: var(--title-text);
  font-size: calc(45px + 3 * (100vw - 320px) / 160);
  line-height: 1.167;
  font-weight: 700;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.181;
  }
}

.hero__details {
  width: 280px;
  font-family: var(--main-text);
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--quaternary-color);
  font-size: 16px;
  line-height: 1.625;
}
@media screen and (min-width: 732px) {
  .hero__details {
    width: 360px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__details {
    width: 490px;
    font-size: 18px;
    line-height: 1.667;
  }
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 170px;
  margin-right: 39px;
}
@media screen and (max-width: 731px) {
  .hero__buttons {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .hero__buttons {
    display: none;
  }
}

.hero__buttons-item:nth-child(2) {
  margin-left: 26px;
  border-color: var(--main-color);
}

.hero__button {
  width: 60px;
  padding: 10px 0;
  font-size: 11px;
  line-height: 1.364;
  font-weight: 600;
  letter-spacing: 0.1em;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-fn), border-color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn), border-color 250ms var(--timing-fn);
}
.hero__button.back {
  text-align: left;
  color: var(--quaternary-color-alfa60);
  border-bottom: 1px solid var(--quaternary-color-alfa60);
}
.hero__button.forward {
  text-align: right;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.hero__button:hover, .hero__button:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__images-list {
  min-width: 330px;
  margin-right: 20px;
}
@media screen and (max-width: 731px) {
  .about__images-list {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .about__images-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 570px;
    margin-right: calc(30px + 34 * (100vw - 1024px) / 176);
  }
}
@media screen and (min-width: 1200px) {
  .about__images-list {
    margin-right: 64px;
  }
}

@media screen and (max-width: 1023px) {
  .about__images-item:nth-child(1) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .about__images-item:nth-child(1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 732px) {
  .about__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-text);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.364;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .about__desc {
    font-size: calc(9px + 2 * (100vw - 320px) / 160);
    letter-spacing: calc(0.45px + 0.65 * (100vw - 320px) / 160);
  }
}
.about__desc::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .about__desc::before {
    width: calc(40px + 20 * (100vw - 320px) / 160);
    margin-right: calc(10px + 10 * (100vw - 320px) / 160);
  }
}
@media screen and (max-width: 731px) {
  .about__desc {
    margin-bottom: 20px;
  }
}

.about__title {
  font-family: var(--title-text);
  font-size: 28px;
  line-height: 1.179;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .about__title {
    font-size: calc(20px + 8 * (100vw - 320px) / 160);
  }
}
@media screen and (min-width: 1024px) {
  .about__title {
    font-size: calc(36px + 6 * (100vw - 1024px) / 176);
    line-height: 1.167;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 42px;
  }
}
@media screen and (max-width: 731px) {
  .about__title {
    max-width: 320px;
  }
}
@media screen and (max-width: 430px) {
  .about__title {
    max-width: 280px;
  }
}

.about__details {
  font-family: var(--main-text);
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--tertiary-color);
}
@media screen and (max-width: 480px) {
  .about__details {
    font-size: calc(14px + 2 * (100vw - 320px) / 160);
  }
}
@media screen and (max-width: 731px) {
  .about__details {
    margin-top: 20px;
  }
}

.about__text {
  font-family: var(--main-text);
  font-size: 14px;
  line-height: 1.857;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .about__text {
    font-size: calc(12px + 2 * (100vw - 320px) / 160);
  }
}
@media screen and (max-width: 731px) {
  .about__text {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.about__main-button {
  display: block;
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-color);
  -webkit-transition: color 250ms var(--timing-fn), background-color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn), background-color 250ms var(--timing-fn);
}
.about__main-button:hover, .about__main-button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}
@media screen and (min-width: 732px) {
  .about__main-button {
    margin-top: 26px;
  }
}

.prices {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../img/prices/mob/prices-m.webp");
  background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../img/prices/mob/prices-m.webp");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../img/prices/mob/prices-m@2x.webp");
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../img/prices/mob/prices-m@2x.webp");
  }
}
@media screen and (min-width: 732px) {
  .prices {
    background-size: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../img/prices/tab/prices-t.webp");
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../img/prices/tab/prices-t.webp");
  }
}
@media screen and (min-width: 732px) and (min-device-pixel-ratio: 2), screen and (min-width: 732px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 732px) and (min-resolution: 192dpi), screen and (min-width: 732px) and (min-resolution: 2dppx) {
  .prices {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../img/prices/tab/prices-t@2x.webp");
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../img/prices/tab/prices-t@2x.webp");
  }
}
@media screen and (min-width: 1024px) {
  .prices {
    background-size: 1280px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../img/prices/desk/prices-d.webp");
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../img/prices/desk/prices-d.webp");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .prices {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../img/prices/desk/prices-d@2x.webp");
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../img/prices/desk/prices-d@2x.webp");
  }
}

.prices__desc {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-text);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.364;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--quaternary-color-alfa60);
}
@media screen and (max-width: 480px) {
  .prices__desc {
    font-size: calc(9px + 2 * (100vw - 320px) / 160);
    letter-spacing: calc(0.45px + 0.65 * (100vw - 320px) / 160);
  }
}
.prices__desc::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--quaternary-color-alfa60);
}
@media screen and (max-width: 480px) {
  .prices__desc::before {
    width: calc(40px + 20 * (100vw - 320px) / 160);
    margin-right: calc(10px + 10 * (100vw - 320px) / 160);
  }
}

.prices__title {
  font-family: var(--title-text);
  font-size: 28px;
  line-height: 1.179;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--main_color);
}
@media screen and (max-width: 480px) {
  .prices__title {
    font-size: calc(20px + 8 * (100vw - 320px) / 160);
  }
}
@media screen and (min-width: 1024px) {
  .prices__title {
    font-size: calc(36px + 6 * (100vw - 1024px) / 176);
    line-height: 1.167;
  }
}
@media screen and (min-width: 1200px) {
  .prices__title {
    font-size: 42px;
  }
}

.prices__list {
  margin-top: 44px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1023px) {
  .prices__list {
    padding: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(23, 26, 36)), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(rgb(23, 26, 36), rgba(23, 26, 36, 0.2));
  }
}
@media screen and (max-width: 480px) {
  .prices__list {
    margin-top: calc(30px + 14 * (100vw - 320px) / 160);
    margin-bottom: calc(30px + 20 * (100vw - 320px) / 160);
    padding-left: calc(0px + 30 * (100vw - 320px) / 160);
    padding-right: calc(0px + 30 * (100vw - 320px) / 160);
  }
}
@media screen and (min-width: 1024px) {
  .prices__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.prices__list-item {
  font-size: 14px;
  line-height: 2.143;
  letter-spacing: 0.02em;
  color: var(--quaternary-color);
}
@media screen and (max-width: 480px) {
  .prices__list-item {
    font-size: calc(12px + 2 * (100vw - 320px) / 160);
  }
}
@media screen and (min-width: 1024px) {
  .prices__list-item {
    width: 50%;
  }
  .prices__list-item:nth-child(1) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(23, 26, 36)), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(rgb(23, 26, 36), rgba(23, 26, 36, 0.2));
  }
  .prices__list-item:nth-child(2) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(8, 11, 19)), to(rgba(8, 11, 19, 0.2)));
    background-image: linear-gradient(rgb(8, 11, 19), rgba(8, 11, 19, 0.2));
  }
}
@media screen and (max-width: 1023px) {
  .prices__list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .prices__sublist {
    padding: 30px 40px;
  }
}

.prices__sublist-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.prices__sublist-item:not(:last-child) {
  margin-bottom: 20px;
}

.prices__line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  margin: 0 6px;
  background-color: var(--quaternary-color-alfa12);
}

.prices__main-button {
  display: block;
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 600;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-color);
  -webkit-transition: color 250ms var(--timing-fn), background-color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn), background-color 250ms var(--timing-fn);
  margin: 0 auto;
}
.prices__main-button:hover, .prices__main-button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

@media screen and (min-width: 1024px) {
  .advantages .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .advantages__main {
    margin-right: calc(0px + 70 * (100vw - 1024px) / 176);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__main {
    margin-right: 70px;
  }
}

.advantages__desc {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-text);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.364;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .advantages__desc {
    font-size: calc(9px + 2 * (100vw - 320px) / 160);
    letter-spacing: calc(0.45px + 0.65 * (100vw - 320px) / 160);
  }
}
.advantages__desc::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .advantages__desc::before {
    width: calc(40px + 20 * (100vw - 320px) / 160);
    margin-right: calc(10px + 10 * (100vw - 320px) / 160);
  }
}

.advantages__title {
  font-family: var(--title-text);
  font-size: 28px;
  line-height: 1.179;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .advantages__title {
    font-size: calc(20px + 8 * (100vw - 320px) / 160);
  }
}
@media screen and (min-width: 1024px) {
  .advantages__title {
    font-size: calc(36px + 6 * (100vw - 1024px) / 176);
    line-height: 1.167;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    font-size: 42px;
  }
}
@media screen and (max-width: 731px) {
  .advantages__title {
    max-width: 280px;
  }
}
@media screen and (max-width: 480px) {
  .advantages__title {
    max-width: calc(220px + 60 * (100vw - 320px) / 160);
  }
}
@media screen and (min-width: 1024px) {
  .advantages__title {
    max-width: 410px;
  }
}

.advantages__details {
  margin-top: 20px;
  font-family: var(--main-text);
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--tertiary-color);
}
@media screen and (max-width: 480px) {
  .advantages__details {
    font-size: calc(14px + 2 * (100vw - 320px) / 160);
  }
}
@media screen and (min-width: 732px) {
  .advantages__details {
    max-width: 500px;
  }
}

.advantages__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 732px) and (max-width: 1023px) {
  .advantages__counter {
    width: 450px;
    margin-left: auto;
  }
}
@media screen and (max-width: 1023px) {
  .advantages__counter {
    margin-top: 44px;
  }
}
@media screen and (min-width: 1024px) {
  .advantages__counter {
    width: 370px;
    margin-right: calc(40px + 90 * (100vw - 1024px) / 176);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__counter {
    margin-right: 130px;
  }
}

.advantages__meter {
  height: 133px;
  width: 194px;
  padding: 28px 35px;
  text-align: center;
  background-color: var(--background-color);
}
@media screen and (max-width: 480px) {
  .advantages__meter {
    height: calc(90px + 43 * (100vw - 320px) / 160);
    width: calc(125px + 69 * (100vw - 320px) / 160);
    padding-left: calc(6px + 29 * (100vw - 320px) / 160);
    padding-right: calc(6px + 29 * (100vw - 320px) / 160);
    padding-top: calc(10px + 18 * (100vw - 320px) / 160);
    padding-bottom: calc(10px + 18 * (100vw - 320px) / 160);
  }
}
.advantages__meter:nth-child(2n+1) {
  margin-right: 30px;
}
.advantages__meter:not(:first-child) {
  margin-top: 30px;
}
.advantages__meter:nth-child(2n+3) {
  margin-top: 0;
}
@media screen and (min-width: 732px) {
  .advantages__meter {
    width: 210px;
  }
}
@media screen and (min-width: 1024px) {
  .advantages__meter {
    width: 170px;
    padding: 24px 20px;
  }
}

.advantages__pointer {
  position: relative;
  font-family: var(--title-text);
  font-size: 28px;
  line-height: 1.179;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
  font-family: var(--main-text);
}
@media screen and (max-width: 480px) {
  .advantages__pointer {
    font-size: calc(20px + 8 * (100vw - 320px) / 160);
  }
}
@media screen and (min-width: 1024px) {
  .advantages__pointer {
    font-size: calc(36px + 6 * (100vw - 1024px) / 176);
    line-height: 1.167;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__pointer {
    font-size: 42px;
  }
}

.advantages__topic {
  margin-top: 6px;
  font-size: 11px;
  line-height: 1.364;
  font-weight: 600;
  letter-spacing: 0em;
  color: var(--secondary-color);
}

.advantages__icon {
  position: absolute;
  top: 0;
  width: 13px;
  height: 22px;
  fill: var(--accent-color);
}
@media screen and (max-width: 480px) {
  .advantages__icon {
    height: calc(18px + 4 * (100vw - 320px) / 160);
    width: calc(8px + 5 * (100vw - 320px) / 160);
  }
}

.team {
  background-color: var(--background-color);
}
@media screen and (min-width: 732px) and (max-width: 1023px) {
  .team .container {
    padding: 0 159px;
  }
}

.team__desc {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-text);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.364;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .team__desc {
    font-size: calc(9px + 2 * (100vw - 320px) / 160);
    letter-spacing: calc(0.45px + 0.65 * (100vw - 320px) / 160);
  }
}
.team__desc::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .team__desc::before {
    width: calc(40px + 20 * (100vw - 320px) / 160);
    margin-right: calc(10px + 10 * (100vw - 320px) / 160);
  }
}

.team__title {
  font-family: var(--title-text);
  font-size: 28px;
  line-height: 1.179;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .team__title {
    font-size: calc(20px + 8 * (100vw - 320px) / 160);
  }
}
@media screen and (min-width: 1024px) {
  .team__title {
    font-size: calc(36px + 6 * (100vw - 1024px) / 176);
    line-height: 1.167;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 42px;
  }
}

.team__list {
  margin-top: 44px;
}
@media screen and (min-width: 1024px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .team__item:not(:last-child) {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 480px) {
  .team__item:not(:last-child) {
    margin-bottom: calc(40px + 24 * (100vw - 320px) / 160);
  }
}

.team__name {
  margin-top: 30px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 18px;
  line-height: 1.389;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .team__name {
    margin-top: calc(20px + 10 * (100vw - 320px) / 160);
  }
}

.team__position {
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 1.357;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 480px) {
  .team__position {
    margin-bottom: calc(20px + 10 * (100vw - 320px) / 160);
  }
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.team__social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--secondary-color);
  background-color: var(--main-color);
  -webkit-transition: color 250ms var(--timing-fn);
  transition: color 250ms var(--timing-fn);
}
.team__social__link:hover, .team__social__link:focus {
  color: var(--accent-color);
}

.team__social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.portfolio__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-text);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.364;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .portfolio__desc {
    font-size: calc(9px + 2 * (100vw - 320px) / 160);
    letter-spacing: calc(0.45px + 0.65 * (100vw - 320px) / 160);
  }
}
.portfolio__desc::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--secondary-color);
}
@media screen and (max-width: 480px) {
  .portfolio__desc::before {
    width: calc(40px + 20 * (100vw - 320px) / 160);
    margin-right: calc(10px + 10 * (100vw - 320px) / 160);
  }
}

.portfolio__list {
  margin-top: 44px;
}
@media screen and (min-width: 732px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 731px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 732px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .portfolio__item {
    width: calc((100% - 90px) / 4);
  }
}/*# sourceMappingURL=main.css.map */