.header {
	position: absolute;

	padding-top: 40px;
	width: 100%;

	@media screen and (min-width: 732px) {
		padding-top: 32px;
	}

	// outline: 1px dashed rgb(196, 250, 0);

	& .container {
		display: flex;
		align-items: center;
	}
}

.header__nav {
	@media screen and (max-width: 731px) {
		display: none;
	}
}

.nav {
	margin-left: 54px;

	@media screen and (min-width: 1024px) {
		margin-left: 71px;
	}
}

.nav__list {
	display: flex;
}

.nav__item {
	&:not(:last-child) {
		margin-right: 24px;

		@media screen and (min-width: 1024px) {
			margin-right: 40px;
		}
	}
}

.nav__link {
	padding: 10px 0;

	font-size: 12px;
	line-height: 1.333;
	font-weight: 600;
	letter-spacing: 0.1em;

	transition: color 250ms var(--timing-fn);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.header__wrap {
	position: relative;

	margin-left: auto;

	@media screen and (min-width: 1024px) {
		display: flex;
		flex-direction: row-reverse;
	}
}

.header__main-button {
	@media screen and (max-width: 731px) {
		display: none;
	}

	@include main-button;
}

.header__tel-link {
	@media screen and (max-width: 731px) {
		display: none;
	}

	display: block;
	padding: 10px 0;

	font-size: 12px;
	line-height: 1.333;
	font-weight: 600;
	letter-spacing: 0.1em;

	transition: color 250ms var(--timing-fn);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	@media screen and (min-width: 732px) and (max-width: 1023px) {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		width: 10.333em;
	}

	@media screen and (min-width: 1024px) {
		margin-right: 40px;
	}
}

.header__mobmenu-button {
	width: 40px;
	height: 40px;
}
