.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	opacity: 1;

	background-color: rgba(25, 28, 38, 0.9);
	box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.04), 0 4px 2px 0 rgba(0, 0, 0, 0.08),
		0 3px 1px 0 rgba(0, 0, 0, 0.16);

	transition: opacity 250ms var(--timing-fn);

	&.is-hidden {
		pointer-events: none;

		opacity: 0;
	}
}

.mobmenu {
	position: absolute;
	top: 0;
	right: 0;

	width: 70%;
	height: 100vh;
	padding: 110px 20px 20px 20px;

	background-color: var(--main-color);
}

.mobmenu__open {
	margin-left: auto;

	@media screen and (min-width: 732px) {
		display: none;
	}
}

.mobmenu__close {
	position: absolute;
	top: 48px;
	right: 20px;

	width: 40px;
	height: 40px;

	fill: var(--secondary-color);
}

.mobmenu__icon {
	width: 40px;
	height: 40px;
}

.mobmenu__nav {
	margin-bottom: 64px;

	@media screen and (max-width: 480px) {
		@include adaptiveValue(margin-bottom, 50, 64, 320, 480);
	}
}

.mobmenu__item {
	&:not(:last-child) {
		margin-bottom: 24px;

		@media screen and (max-width: 480px) {
			@include adaptiveValue(margin-bottom, 8, 24, 320, 480);
		}
	}
}

.mobmenu__link,
.mobmenu__tel-link {
	font-size: 16px;
	line-height: 1.667;
	letter-spacing: 0.02em;
	color: var(--secondary-color);

	transition: 250ms color var(--timing-fn);

	@media screen and (max-width: 480px) {
		@include adaptiveValue(font-size, 14, 16, 320, 480);
	}

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.mobmenu__tel-link {
	margin-bottom: 24px;
}

.mobmenu__main-button {
	@include main-button(var(--secondary-color));
}

.mobmenu__social {
	margin-top: 64px;

	@media screen and (max-width: 480px) {
		@include adaptiveValue(margin-top, 50, 64, 320, 480);
	}
}

.mobmenu__social-item {
	&:first-child {
		display: flex;
		align-items: center;

		margin-bottom: 24px;

		@media screen and (max-width: 480px) {
			@include adaptiveValue(margin-bottom, 12, 24, 320, 480);
		}
	}
}

.mobmenu__social-link {
	font-size: 14px;
	line-height: 1.357;
	letter-spacing: 0.2em;
	color: var(--secondary-color);

	transition: 250ms color var(--timing-fn);

	.mobmenu__social-item:first-child & {
		&::before {
			@include before-line;
			display: block;
		}
	}

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
