.portfolio {
	@extend %section-padding;
}

.portfolio__desc {
	@include section-description;

	&::before {
		@include before-line;
	}
}

.portfolio__list {
	margin-top: 44px;

	@media screen and (min-width: 732px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}

.portfolio__item {
	@media screen and (max-width: 731px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 732px) {
		width: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: 1024px) {
		width: calc((100% - 90px) / 4);
	}
}
