.logo {
	display: block;
	width: 70px;
	height: 56px;

	@media screen and (min-width: 732px) and (max-width: 1023px) {
		margin-left: 10px;
	}
}

.logo__icon {
	width: 70px;
	height: 56px;

	fill: var(--main-color);

	@media screen and (min-width: 732px) {
		fill: var(--secondary-color);
	}
}
