.social__list {
	display: flex;
	align-items: center;

	&::before {
		@include before-line(var(--secondary-color), 40px);

		@media screen and (max-width: 480px) {
			@include adaptiveValue(margin-right, 10, 40, 320, 480);
		}
	}
}

.social__item {
	&:nth-child(1) {
		@media screen and (min-width: 480px) {
			margin-right: 40px;
		}
	}
}

.social__link {
	padding: 10px 0;

	font-size: 11px;
	line-height: 1.364;
	font-weight: 600;
	letter-spacing: 0.2em;
	color: var(--secondary-color);

	transition: color 250ms var(--timing-fn);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}
