@mixin main-button($color: var(--main-color)) {
	display: block;
	width: 160px;
	height: 40px;
	border: 1px solid var(--accent-color);
	border-radius: 25px;

	font-size: px2rem(12);
	line-height: 1.333;
	font-weight: 600;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: $color;

	transition: color 250ms var(--timing-fn), background-color 250ms var(--timing-fn);

	&:hover,
	&:focus {
		border: none;
		background-color: var(--accent-color);
	}
}

@mixin before-line($background-color: var(--secondary-color), $margin-right: 20px) {
	content: '';
	width: 60px;
	height: 1px;
	margin-right: $margin-right;

	background-color: $background-color;
}

@mixin adaptiveValue($property, $minSize, $maxSize, $minVW, $maxVW) {
	#{$property}: calc(
		$minSize * 1px + ($maxSize - $minSize) * (100vw - $minVW * 1px) / ($maxVW - $minVW)
	);
}
