@mixin main-button($color: var(--main-color)) {
	display: block;
	width: 160px;
	height: 40px;
	border: 1px solid var(--accent-color);
	border-radius: 25px;

	font-size: 12px;
	line-height: 1.333;
	font-weight: 600;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: $color;

	transition: color 250ms var(--timing-fn), background-color 250ms var(--timing-fn);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
		color: var(--main-color);
	}
}

@mixin before-line($background-color: var(--secondary-color), $margin-right: 20px) {
	@media screen and (max-width: 480px) {
		@include adaptiveValue(width, 40, 60, 320, 480);
		@include adaptiveValue(margin-right, 10, 20, 320, 480);
	}

	content: '';
	width: 60px;
	height: 1px;
	margin-right: $margin-right;

	background-color: $background-color;
}

@mixin adaptiveValue($property, $minSize, $maxSize, $minVW, $maxVW) {
	#{$property}: calc(
		$minSize * 1px + ($maxSize - $minSize) * (100vw - $minVW * 1px) / ($maxVW - $minVW)
	);
}

@mixin section-description($color: var(--secondary-color)) {
	display: flex;
	align-items: center;

	font-family: var(--main-text);
	text-transform: uppercase;
	font-size: 11px;
	line-height: 1.364;
	font-weight: 600;
	letter-spacing: 0.1em;
	color: $color;

	@media screen and (max-width: 480px) {
		@include adaptiveValue(font-size, 9, 11, 320, 480);
		@include adaptiveValue(letter-spacing, 0.45, 1.1, 320, 480);
	}
}

@mixin section-title($color: var(--secondary-color)) {
	font-family: var(--title-text);
	font-size: 28px;
	line-height: 1.179;
	font-weight: 700;
	letter-spacing: 0.05em;
	color: $color;

	@media screen and (max-width: 480px) {
		@include adaptiveValue(font-size, 20, 28, 320, 480);
	}

	@media screen and (min-width: 1024px) {
		@include adaptiveValue(font-size, 36, 42, 1024, 1200);
		line-height: 1.167;
	}

	@media screen and (min-width: 1200px) {
		font-size: 42px;
	}
}

@mixin section-details($color: var(--tertiary-color)) {
	font-family: var(--main-text);
	font-size: 18px;
	line-height: 1.667;
	letter-spacing: 0.02em;
	color: $color;
}
