:root {
	--main-text: 'Open Sans', sans-serif;
	--title-text: 'Raleway', sans-serif;

	--accent-color: #ff6c00;
	--main-color: #ffffff;
	--secondary-color: #303030;
	--tertiary-color: #555555;
	--quaternary-color: #9da4bd;
	--quaternary-color-alfa60: rgba(157, 164, 189, 0.6);
	--quaternary-color-alfa12: rgba(157, 164, 189, 0.12);

	--timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}
